{% extends "layout.html" %}
{% import "pagination.html" as p %}
{% block body %}
  <div class="row">
      <div class="col-sm-8 blog-main">
          <div class="pagination">{{ p.pagination_widget(pagination, '.show_entries') }}</div>
          {% for entry in entries %}
            <div class="blog-post">
              <h2 class="blog-post-title"><a href="{{ url_for('post', id=entry.id) }}">{{ entry.title }}</a></h2><hr>
              <span class="blog-post-meta">{{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}</span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="blog-post-meta" href="{{ url_for('show_tags', tag=entry.tag) }}">{{ entry.tag|safe }}</a>
              <p class="line-limit-length">{{ entry.text|safe }}</p>

              <span><a href="{{ url_for('post', id=entry.id) }}">阅读全文</a></span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              {% if session.logged_in %}
              <span>
                <a href="{{ url_for('delete_entry', id=entry.id) }}">删除</a>
              </span><br>
              {% endif %}
              
            </div>
          {% else %}
              <div>No entries here so far</div>
        {% endfor %}
          <div class="pagination">{{ p.pagination_widget(pagination, '.show_entries') }}</div>
      </div>
          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
              <h4>Tags</h4>
              {% for i in dict_tag %}
                <li><a href="{{ url_for('show_tags', tag=i) }}">{{ i|safe }} ({{ dict_tag[i]|safe }})</a></li>
              {% endfor %}        
            </div>
          </div>
  </div>
{% endblock %}